{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Saúde em Ação{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles/style-footer.css' %}">

</head>
<body>
    <footer>
        <div class="organizar">
            <img  class="logo" src="{% static '../static/images/logo-footer.png' %}" alt="logo do saude em ação">
            <a href="{% url 'index' %}">
                <h1>Home</h1>
            </a>
            <a href="{% url 'exercicio_abdomen' %}">
                <h1>Exercícios</h1>
            </a>
            <a href="{% if request.user.is_authenticated %}{% url 'perfil' %}{% else %}{% url 'usuario:tela_login' %}{% endif %}">
                <h1>{% if request.user.is_authenticated %}Perfil{% else %}Login/Cadastro{% endif %}</h1>
            </a>
            <div class="ajeitar-botao">
                <a href="https://www.facebook.com"><img class="botao-footer" src="{% static '../static/images/facebook-footer.png' %}" alt="botão do facebook"></a> 
                <a href="https://www.google.com"><img class="botao-footer" src="{% static '../static/images/google-footer.png' %}" alt="botão do google"></a>
            </div>
            <h6>Copyright ©2025; Designed by Saude em Ação</h3>
        </div>
    </footer>
</body>
</html>