{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Saúde em Ação{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles/style-header.css' %}">
</head>
<body>
    <div class="header-container">
        <header>
            <div class="header-botao">
                <label class="burger">
                    <input type="checkbox" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <a href="{% url 'index' %}" class="link-logo">
                    <img class="imagem-logo" width="100px" height="40.34px" src="{% static 'images/logo-saude-em-acao.png' %}" alt="Logo">
                </a>
            </div>  
            <div class="ajeitar">
                <input placeholder="Pesquisar" type="text" class="input-pesquisar">
                <a href="{% url 'tela_login' %}">
                    <img width="40px" height="40px" src="{% static 'images/foto-perfil-joao.png' %}" alt="Perfil">
                </a>
            </div>
        </header>

        <nav class="menu" id="menu">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                <li><a href="{% url 'sobre_nos' %}">Sobre Nós</a></li>
                <li id="exercicio-item">Exercícios
                    <ul class="submenu" id="submenu">
                        <li><a href="{% url 'exercicio_perna' %}">- Perna</a></li>
                        <li><a href="{% url 'exercicio_braco' %}">- Braço</a></li>
                        <li><a href="{% url 'exercicio_gluteos' %}">- Glúteo</a></li>
                        <li><a href="{% url 'exercicio_abdomen' %}">- Abdômen</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <script src="{% static 'js/scripts/menu.js' %}"></script>
</body>
</html>