{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles/style-perfil.css' %}">
</head>
<body>
    {% include 'saude_em_acao/header.html' %}
    <div class="perfil">
        <img src="{% static '../static/images/foto-perfil-joao.png' %}" alt="" width="90px" height="90px">

        <div class="cabecalho">
            <h1>{{ request.user.nome }} {{ request.user.sobrenome }}</h1>
            <a href="{% url 'usuario:logout' %}">
                <img src="{% static '../static/images/sair.png' %}" alt="" width="23px" height="23px">
            </a>
        </div> 
        <div class="nomedaativ">
            <h2>NIVEL DE ATIVIDADE <h2 class="prt">INICIANTE</h2></h2>
        </div>
    </div>
    <hr>
    <div class="barra-tarefa">
        <h3 id="mes-ano"></h3>
        <h3>RELATÓRIO</h3>
        <h3 class="nometrans">repartido</h3>
    </div>
    <div class="treino0">
        <div class="treino">
            <h4>20</h4>
            <h5>TREINOS</h5>
        </div>
        <div class="treino">
            <h4>8.000</h4>
            <h5>CALORIAS</h5>
        </div>
        <div class="treino">
            <h4>20</h4>
            <h5>HORAS</h5>
        </div>
    </div>
        <hr>
        <div>
            <div class="meta">
                <h1 class="nometrans">h</h1>
                <h1>META DA <br> SEMANA</h1>
                <div>
                    <div class="arroz">
                        <div class="mauts">
                            <a href=""><img src="{% static '../static/images/editar.png' %}" alt="" width="19px" height="19px"></a>
                            <h4><span id="checkedCount">0</span>/7</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listin" id="dias-semana">

            </div>
        </div>
        <div class="ajeitar-em-baixo">
            <h1>Calculadora de IMC</h1>
            <div class="IMC">
                <div>
                    <div class="group">
                        <input required="" id="altura" type="tel" class="input">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Altura(Cm)</label>
                    </div>
                    <div class="group">
                        <input required="" id="peso" type="tel" class="input">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Peso(Kg)</label>
                    </div>
                </div>
                <div class="resultado0">
                    <div class="resultado">
                        <h1>Seu IMC é de:</h1>
                        <h2 id="imc" class="kaho">-</h2>
                    </div>
                    <div class="resultado">
                        <h1>Peso ideal:</h1>
                        <h2 id="peso-ideal" class="kaho">-</h2>
                    </div>
                    <div class="resultado">
                        <h1>Sua classificação:</h1>
                        <h2 id="classificacao" class="kaho">-</h2>
                    </div>
                </div>
            </div>
            <button onclick="calcularIMC()">Calcular</button>
        </div>
        {% include 'saude_em_acao/footer.html' %}
        <script src="{% static '../static/js/scripts/imc.js' %}"></script>
        <script src="{% static '../static/js/scripts/contagem.js' %}"></script>
        <script src="{% static '../static/js/scripts/data.js' %}"></script>
</body>
</html>
