{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="images/logo-saude-em-acao-semtitulo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles/style-sobre_nós.css' %}">
</head>

<body>

{% include 'saude_em_acao/header.html' %}

    <div class="geral">
        
        <div class="sobre_nos">
            <h2><strong>Quem somos</strong></h2>
            <img src="{% static 'images/imagem1.jpg' %}" alt="" width="100%" height="100%" class="img2">
        </div>
        <h1 class="gig">Somos alunos do curso Técnico em Desenvolvimento de Sistemas-2024 do Senac-RN, em Mossoró. <br> Formamos um grupo de cinco estudantes comprometidos em aplicar os conhecimentos adquiridos ao longo do curso.</h1>
        
        <div class="missao">
            <h2><strong>Nossa missão</strong></h2>
            <img src="{% static 'images/imagem2.jpeg' %}" alt="" width="100%" height="100%" class="img2">
            <h1>Nosso objetivo é criar um site voltado para a área da saúde, com a intenção de contribuir para o bem-estar das pessoas. Acreditamos que nossa ideia tem potencial para se tornar uma ferramenta útil no futuro, e esperamos que o projeto possa ser levado adiante.</h1>   
        </div>
        
        <div class="equipe">
            <h2><strong>Equipe</strong></h2>
            <div class="equipe-masculino">
                <img src="{% static 'images/imagem3.jpeg' %}" alt="" width="200px" height="100%" >
                <h1>Nossa equipe é composta por programadores jovens e com pouca experiência, mas somos unidos e trabalhamos em conjunto para oferecer o melhor resultado possível. A troca de conhecimentos e a colaboração mútua são fundamentais para o nosso desenvolvimento.</h1>
            </div>
        </div>
        
    </div>
    {% include 'saude_em_acao/footer.html' %}
</body>

</html>