{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles/style-pergunta.css' %}">
</head>
<body>

    <div class="tela">
        <div class="topo">
            <h1>Perguntas</h1>
        </div>
        <div class="group">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nome</label>
          </div>
          <div class="group">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Sobrenome</label>
          </div>
          <div class="group">
            <input required="" type="tel" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Altura(Cm)</label>
          </div>
          <div class="group">
            <input required="" type="tel" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Peso(Kg)</label>
          </div>
        <div class="checkbox-div">
            <h3>Gênero</h3>
            <div class="checkbox-div">
                <form class="my-form">
                    <div>
                      <input id="check-1" type="checkbox" />
                      <label for="check-1">Masculino</label>
                    </div>
                    <div>
                      <input id="check-2" type="checkbox" />
                      <label for="check-2">Feminino</label>
                    </div>
                    <div>
                      <input id="check-3" type="checkbox" />
                      <label for="check-3">Não Binário</label>
                    </div>
                    <div>
                      <input id="check-4" type="checkbox" />
                      <label for="check-4">Outro</label>
                    </div>
                    <div>
                        <input id="check-5" type="checkbox" />
                        <label for="check-5">Prefiro não informar</label>
                      </div>
                  </form>
        </div>
        </div>
        <div class="group">
            <h3>Data de nascimento</h3>
            <input required="" type="date" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
          </div>
        <button>CONFIRMAR</button>
    </div>
<script src="{% static '../static/js/scripts/checkbox.js' ' %}"></script>
</body>
</html>
