{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Saude em Ação</title>
    <link rel="shortcut icon" href="../static/images/logo-saude-em-acao-semtitulo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles/style-login-registro.css' %}">
</head>
<body>
    <div class="tela">
        <img src="{% static '../static/images/logo-saude-em-acao-semtitulo.png' %}" alt="" width="90" height="87,84">
        <h1>Faça seu Login</h1>
        <hr class="ajeitar">
        <div class="group">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>CPF ou Email</label>
          </div>
          <div class="group">
            <input required="" type="password" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Senha</label>
          </div>
        <div class="div-links">
            <a href="{% url 'tela_registro' %}" >Não tem cadastro?</a>
            <a href="">Esqueceu a senha?</a>
        </div>
        <button>ACESSAR</button>
        <div class="div-ou">
            <hr class="hr-ou">
            <h3>ou</h3>
            <hr class="hr-ou">
        </div>
        <div class="div-botoes">
            <a href="https://www.facebook.com/?locale=pt_BR"><img width="30px" height="30px" src="{% static '../static/images/logo-facebook-login.png' %}" alt="logo do facebook"></a>
            <a href="https://www.google.com.br/?hl=pt-BR"><img width="30px" height="30px" src="{% static '../static/images/logo-google-login.png' %}" alt="logo do google"></a>
        </div>
    </div>
</body>
</html>