{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '../static/css/styles/style-exercicio.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>  

    {% include 'saude_em_acao/header.html' %}

    <div class="tela">
        <h1>
            <strong>Benefícios de exercicio de perna</strong> <br>
            ✔Fortalecimento muscular e proteção das articulações, Melhora do desempenho físico e prevenção de lesões, Benefícios para a saúde cardiovascular. <br>
        </h1>
        <div class="exercicios">
            <h1>Agachamento</h1>
            <img width="300px" height="250px" src="{% static '../static/gifs/agachamento 1.gif' %}" alt="">
            <p id="info" style="display: none;"> 
                <strong>Repetições:</strong> <br>
                3 séries de 12-15 repetições. <br><br> 
                <strong>Execução:</strong> <br>
                    Fique de pé com os pés na largura dos ombros. <br>
                    Flexione os joelhos e quadris, como se fosse sentar em uma cadeira, mantendo o peito erguido. <br>
                    Desça até que suas coxas fiquem paralelas ao chão ou mais, se possível. <br>
                    Empurre os calcanhares para voltar à posição inicial. <br> 
            </p>
            <button onclick="mostrarInformacao(this)">LER MAIS</button>
        </div>
        <div class="exercicios">
            <h1>Panturilha</h1>
            <img width="300px" height="250px" src="{% static '../static/gifs/panturilha.gif' %}" alt="">
            <p id="info-2" style="display: none;"> 
                <strong>Repetições: </strong><br>
                3 séries de 15-20 repetições. <br> <br>
                    <strong>Execução:</strong> <br>
                        Fique em pé, com os pés alinhados à largura dos quadris. <br>
                        Levante-se na ponta dos pés, contraindo a panturrilha. <br>
                        Desça controladamente até os pés ficarem planos no chão. <br>
                        Para um aumento de intensidade, pode fazer esse movimento em um degrau ou com peso. <br>
            </p>
            <button onclick="mostrarInformacao(this)">LER MAIS</button>
        </div>
    </div>

    {% include 'saude_em_acao/footer.html' %}
    
    <script src="{% static '../static/js/scripts/exercicio.js' %}"></script>
</body>
</html>