{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles/style-exercicio.css' %}">
</head>
<body>

    {% include 'saude_em_acao/header.html' %}

    <div class="tela">
        <h1>
            <strong>Benefícios de exercicio de braço</strong> <br>
        ✔ Fortalece peito, ombros e tríceps – Trabalha os músculos peitorais, deltóides e tríceps braquial. <br>
        </h1>
        <div class="exercicios">
            <h1>Flexão de Braço</h1>
            <img width="300px" height="250px" src="{% static '../static/gifs/flexão de braço 1.gif' %}" alt="">
            <p id="info" style="display: none;">
                <strong>Repetições:</strong> <br> 3 séries de 10-15 repetições. <br> <br>
                    <strong>Execução:</strong> <br>
                    Comece em posição de prancha, com as mãos alinhadas aos ombros. <br>
                    Abaixe o corpo até que o peito quase toque o chão, mantendo os cotovelos em um ângulo de 45º. <br>
                    Empurre o corpo de volta à posição inicial, estendendo os braços. <br>
            </p>
            <button onclick="mostrarInformacao(this)">LER MAIS</button> 
        </div>
        <div class="exercicios">
            <h1>Flexão Diamante</h1>
            <img width="300px" height="250px" src="{% static '../static/gifs/flexão diamante 1.gif' %}" alt="">
            <p id="info-2" style="display: none;"> 
                <strong>Repetições: </strong>3 séries de 8-12 repetições. <br> <br>
                    <strong>Execução:</strong> <br>
                    Coloque as mãos no chão em posição de flexão, mas com os polegares e indicadores tocando, formando um diamante. <br>
                    Abaixe o corpo até o peito quase tocar o chão. <br>
                    Empurre o corpo de volta, estendendo os braços. <br>
                                </p>
                                <button onclick="mostrarInformacao(this)">LER MAIS</button> 
        </div>
    </div>

    {% include 'saude_em_acao/footer.html' %}

    <script src="{% static '../static/js/scripts/exercicio.js' %}"></script>
    
</body>
</html>

