{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/styles/style-exercicio.css' %}">
</head>     
<body>

    {% include 'saude_em_acao/header.html' %}

    <div class="tela">
        <h1>
            <strong>Benefícios de exercício para o abdômen.</strong> <br>
            ✔Fortalecimento muscular e proteção das articulações, Melhora do desempenho físico e prevenção de lesões, Aumento da força e desempenho. <br>
        </h1>
        <div class="exercicios">
            <h1>Abdominal</h1>
            <img width="300px" height="250px"  src="{% static 'gifs/abdominal.gif' %}" alt="">
            <p id="info" style="display: none;"> 
                <strong>Repetições:</strong> <br> 3 séries de 20-25 repetições. <br> <br>
                <strong>Execução:</strong> <br>
                Deite de costas, com os joelhos flexionados e os pés no chão. <br>
                Coloque as mãos atrás da cabeça ou cruzadas sobre o peito. <br>
                Levante a parte superior do tronco em direção aos joelhos, contraindo os músculos abdominais. <br>
                Retorne lentamente à posição inicial. <br>
            </p>
            <button onclick="mostrarInformacao(this)">LER MAIS</button> 
        </div>
        
        <div class="exercicios">
            <h1>Abdominal_infra</h1>
            <img width="300px" height="250px"  src="{% static 'gifs/abdominal_infra.gif' %}" alt="">
            <p id="info-2" style="display: none;"> 
                <strong>Repetições:</strong> <br> 3 séries de 15-20 repetições. <br> <br>
                <strong>Execução:</strong> <br>
                Deite de costas, com as pernas esticadas e os braços ao lado do corpo. <br>
                Levante as pernas mantendo-as esticadas até que fiquem perpendiculares ao chão. <br>
                Abaixe as pernas lentamente, sem deixar os pés tocarem o chão. <br>
            </p>
            <button onclick="mostrarInformacao(this)">LER MAIS</button> 
        </div>
    </div>

    {% include 'saude_em_acao/footer.html' %}

    <script src="{% static 'js/scripts/exercicio.js' %}"></script>
</body>
</html>
