html, body {
    height: 100%;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: "League Spartan", serif;
    font-weight: 800;
}
.ajeitar-registro{
    width: 300px;
    background-color: #555454;
}
.tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
h1{
    font-size: 40px;
    margin-top: 30px;
}
a{
    color: #38b6ff;
}
.ajeitar{
    width: 280px;
    background-color: #555454;
}
.hr-ou{
    margin-top: 10px;
    width: 100px;
    height: 1px;
}
h3{
    font-size: 25px;
}
.div-ou{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 30px;
}
button{
    width: 280px;
    border-radius: 5px;
    border: transparent;
    background-color: #008bb4;
    color: white;
    font-weight: 300;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}
button:active{
    background-color: white;
    color: #008bb4;
    transform: scale(0.95);
    border: #008bb4;
}
.div-botoes{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 140px;
}
.botao-cadastra{
    padding-top: 30px;
}
.botao-voltar{
    padding-top: 15px;
}
.group {
    position: relative;
    margin-top: 30px;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 280px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #515151;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #008bb4;
}

.bar {
    position: relative;
    display: block;
    width: 280px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #008bb4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    display: none;
}
.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}
.div-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
}

@keyframes inputHighlighter {
    from {
        background: #008bb4;
    }
    
    to {
        width: 0;
        background: transparent;
    }
}